<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置pojo类与别名的映射关系，方便mapper.xml返回实体类
		不过不建议使用，mybatis查询过程是先查询出map结果集，在映射到entity，数据量大的时候影响效率
		完全可以直接使用map作为结果集返回
	 -->
	<!-- package包及子包下面的所有类，别名默认是类名首字母小写 -->
	<typeAliases>
		<package name="com.stu.jps"/>
	</typeAliases>
</configuration>
